// ============================================================================
// Global Settings
// ============================================================================

// The following function is included here to properly handle mui-rem()
// definitions in mixin functions. It will be removed in a subsequent version
// once a better solution is found.

$mui-include-globals: true !default;
$mui-use-rem: false !default;

@function mui-rem($px) {
  $x: $px;

  @if $mui-use-rem == true {
    $x: ($px / 16px) * 1rem;
    $x: round(1000 * $x) / 1000;
  }

  @return $x;
}


// ============================================================================
// COLORS
// ============================================================================

$mui-primary-color:             mui-color('blue', '500') !default;
$mui-primary-color-dark:        mui-color('blue', '700') !default;
$mui-primary-color-light:       mui-color('blue', '100') !default;

$mui-accent-color:              mui-color('pink', 'A200') !default;
$mui-accent-color-dark:         mui-color('pink', 'A100') !default;
$mui-accent-color-light:        mui-color('pink', 'A400') !default;

$mui-danger-color:              mui-color('red', '500') !default;




